:root {
    --color1: #0c1618;
    --color2: #004643;
    --color3: #faf4d3;
    --color4: #f6f6f6;
    --colorHover: #8d8977;
    --colorWhite: #ffffff;
}

.containerCartComp {
    background-color: var(--color2) !important;
    color: var(--color3) !important;
}

.containerCartComp .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cart-pay-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCartComp .offcanvas-body {
    overflow-y: auto;
}

.containerCartComp .btn-close {
    filter: invert(1);
}


.containerCartComp.text-bg-custom {
    background-color: var(--color2);
    color: var(--colorWhite);
}